.pagination{
    display: flex;
    
    gap: 5px;
    .page-item{
        .page-link{
            display: flex;
            height: 30px;
            padding: 4px 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 21px;
            background: rgba(255, 255, 255, 0.05);
            color: #50575B;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 19px;
            &.left-icon{
                background: transparent;
            }
            &.right-icon{
                background: transparent;
            }
            &.active{
                background: $them-color;
                color: #50575B;
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                line-height: 19px;
            }
        }
    }
}