extends layouts/default.pug

block prepend head
    - var pageTitle = "Enkudo"
    - var pageDescription = "Login Sayfası, Enkudo"
    - var pageName = "Login"
    - var pageClass = "page page-login"

block header

block content
    section.login-section
        .container-fluid.p-0
            .row.g-0
                .col
                    .login-left
                        .bg-img-cover.d-none.d-lg-block
                            +img('ratio login-rotio', true , dirFrontend + 'images/bg-login.jpeg')
                        
                        .login-left-content
                            .logo
                                a(href="index.html")
                                    +img('w-100', false, dirImages + 'logo.svg')
                            .d-flex.flex-column.d-none.d-lg-block
                                h2.section-title.text-start Enkudo Opens a New
                                    <br> — Frontier for You
                                p Enkudo provides services that anyone can enjoy, with 200+ incredibly fun games, sVOD, music, digital publications etc. — all without ads or in-app purchases.

                
                .login-right
                    h2.login-title Login

                    .d-block
                        .ems-field.d-flex.flex-column.mb-50 <!--- .ems-field-msg-error --->
                            .phone-box
                                .form-floating
                                    .phone-bg
                                        .phone-control
                                            .top-text Country Code*
                                            .pc-select-box
                                                .pc-select-box-left
                                                    +img('ratio ratio-1x1 ratio-bg-circle telflagform', true, dirFrontend + 'images/tel-flag.png')
                                                    span +232                                                        
                                                .pc-select-box-right
                                                    +icon("select-down").stroke-icon
                                .form-floating.input-user-tel
                                    input#Number.form-control(type='text' name='Number' value='' placeholder='')
                                    label(for='Number') Number
                            .ems-field-feedback *Mobile phone number is missing or incorrect
                                
                        
                        .ems-field.w-100.mt-5.mb-25.check-hiden-show
                            .form-check
                                label.checkbox-container.align-items-start(for='CommunicationPermissions')
                                    input.form-check-input.rounded-0.fs-15(type='checkbox' id='CommunicationPermissions')
                                    span.checkmark
                                    .form-check-textBy By clicking here, I state that I have read and approved the 
                                        a(data-title="Communication Permissions" href="javascript:void(0);" class="ems-kvkk-trigger ems-link text-decoration-underline") Communication Permissions</a>
                                .ems-field-feedback 
                        .ems-field.mb-0.w-100
                            a.btn.btn-them-3.btn-lg.w-100(href="login-step2.html")
                                span Next


block footer